body{
    font-family: 'Roboto Slab', serif;
    background-color: mediumturquoise;
}
.header_div{
    background-color: darkgrey;
    color: white;
}
.header_div label{
    color: springgreen;
    letter-spacing: 2px;
    font-size: 17.5px;
    font-weight:150;
}
.header_div h2{
    font-size: 35px;
}
.main_div button{
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}
.footer{
    position: fixed;
    background-color: rgba(72, 209, 205, 0.301);
    width: 100%;
    text-align: right;
    color:black;
    bottom: 0;
    font-size: 15px;
    line-height: 3;
    text-shadow: 5px 5px 5px grey;
}
.main_div h3,h4{
    font-weight: 600;
}